<% if @current_user.firestation === false %>

    <% if @emergency %>
    <h1 class="current_emergency">BUILDING FIRE REPORTED AT</h1>

      <div class="emergency">

        <h4>
          <%= @emergency.created_at %>
        </h4>

        <div class="user_status">

          <h3>MY PET IS</h3>

          <%= form_for @emergency, url: emergency_path(@emergency.id) do |f| %>
            <%= f.button :submit, name: "user_status", value: "safe with me" %>
          <% end %>

          <%= form_for @emergency, url: emergency_path(@emergency.id) do |f| %>
            <%= f.button :submit, name: "user_status", value: "home alone" %>
          <% end %>

        </div>

        <div class="firestation_status">

          <h3>RESCUE TEAM SAYS</h3>
          <h2><%= @emergency.firestation_status %></h2>

        </div>

      </div>

    <% else %>

      <h1>THERE ARE NO CURRENT EMERGENCIES AT YOUR BUILDING</h1>

    <% end %>

<% end %>


<% if @current_user.firestation === true %>


    <div class="campaign">

      <% @current_user.emergencies.each do |emergency| %>

        <%= emergency.user.name %>

        <%= form_for emergency, url: emergency_path(emergency.id) do |f| %>
          <%= f.button :submit, name: "firestation_status", value: "Unit Cleared" %>
        <% end %>

        <%= form_for emergency, url: emergency_path(emergency.id) do |f| %>
          <%= f.button :submit, name: "firestation_status", value: "Pet Rescued" %>
        <% end %>

      <% end %>

    </div>

<% end %>
